* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

:root {
    color-scheme: light dark;

    --background-dark: light-dark(lightgray, #302e2e);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--background-dark);
}

/* vmin = viewport minimum */
.wrapper {
    width: 65vmin;
    height: 70vmin;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background: lightcoral;
    border-radius: 10px;
}

.game-details {
    font-weight: 800;
    font-size: 1.2rem;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}

.play-board {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr); /* dit verzorgd voor kleine vierkante grids */
    background: #da5656;
}

.play-board .food {
    background: #00b100;
}

.play-board .head {
    background: #610069;
}

.controls {
    display: none;
    justify-content: space-between;
}

.controls i {
    padding: 25px 0;
    width: calc(100% / 4);
    text-align: center;
    cursor: pointer;
    font-size: 1.3rem;
    border-right: 1px solid #da5656;
    color: #c50000;
}

/* .button {
    position: absolute;
    right: 30px;
} */

@media screen and (max-width: 800px) {
    .wrapper {
        width: 90vmin;
        height: 115vmin;
    }
    .game-details {
        font-size: 1rem;
        padding: 15px 27px;
    }
    .controls {
        display: flex;
    }
    .controls i {
        padding: 15px 0;
        font-size: 1rem;
    }
}