* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace, Arial, Helvetica, sans-serif;
}

/* :root {
    color-scheme: light dark;

    --background-dark: light-dark(lightgray, #302e2e);
} */

.random {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h1 {
    font-size: 1.2rem;
    font-weight: 530;
    color: white;
}

img:nth-of-type(1) {
    height: 15vh;
    
}

img:nth-of-type(2) {
    height: 15vh;
    
}

body {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    min-height: 100vh;
    background: #302e2e;
    display: grid;
    /* align-content: center; */
    justify-content: center;
}

/* vmin = viewport minimum */
.wrapper {
    width: 65vmin;
    height: 70vmin;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background: rgb(251, 121, 121);
    border-radius: 10px;
}

.game-details {
    font-weight: 800;
    font-size: 1.4rem;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
    color: #9c0000;
}

.score {
    font-weight: 500;
}

.play-board {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr); /* dit verzorgd voor kleine vierkante grids */
    background: #cf4e4e;
}

.play-board .food {
    background: #00b100;
}

.play-board .head {
    background: #9c0000;
}

.controls {
    display: none;
    justify-content: space-between;
}

.controls i {
    padding: 25px 0;
    width: calc(100% / 4);
    text-align: center;
    cursor: pointer;
    font-size: 1.3rem;
    border-right: 1px solid #da5656;
    color: #9c0000;
}

/* .button {
    position: absolute;
    right: 30px;
} */

@media screen and (max-width: 800px) {
    body {
        display: grid;
        justify-items: center;
    }
    h1 {
        text-align: center;
        font-size: .9rem;
    }
    img:nth-of-type(1) {
        padding-left: 1rem;
    }
    img:nth-of-type(2) {
        padding-right: 1rem;
    }
    .wrapper {
        width: 90vmin;
        height: 115vmin;
    }
    .game-details {
        font-size: 1rem;
        padding: 15px 27px;
    }
    .controls {
        display: flex;
    }
    .controls i {
        padding: 15px 0;
        font-size: 1rem;
    }
}